<div class="container">
<div *ngIf="NewsPost | async; let NewsPostAsync">
    <!-- <img [src] = "rss.feed.image", [alt] ="rss.feed.title">
 -->
    <div class ="row">
        <div class ="col-md-11">
            <h2>{{NewsPostAsync.title}}</h2>
        </div>
    </div>

    <div class="row">
        <div class ="col-md-6">
            <div>{{NewsPostAsync.pubDate}}</div>
        </div>
        <div class="col-xs">
            <div>{{NewsPostAsync.description}}</div>
        </div>
    </div>
</div>
</div>
